* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 20px; /* Space below navbar */
    border-bottom: none;
}

/* Section Spacing */
#TeamKiko, #Greetings {
    padding: 40px 0; /* Adds consistent padding for top and bottom */
	background-color: #FAEDCB
}

#profile {
    padding: 20px 0; /* Adds a bit of spacing to profile section */
}

.project-card {
    margin: 20px;
    padding: 15px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Clean container padding */
.container {
    padding: 0 15px; /* Ensures no content touches the edges */
}

/* Card Layout */
.card {
    border: none;
    transition: all 0.3s ease;
}

.card-body {
    padding: 20px; /* Consistent padding inside cards */
}

.footer {
    margin-top: 40px;
    padding: 20px 0;
    background-color: #FAEDCB;
    font-size: 14px;
    color: #333;
    text-align: center;
}
